@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.font-bevan {
  font-family: "Bevan", serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.gradient-title {
  background-image: linear-gradient(to right, #6e38e6 0%, #985cf0 100%);
  background-clip: text;
  color: transparent;
  display: inline-block;
}
